:root {
  --vt-c-white: #ffffff;
  /* --vt-c-white-soft: #e4e4e4; */
  --vt-c-white-soft: #f1f1fa;
  /* --vt-c-white-mute: #f2f2f2; */
  --vt-c-white-mute: #CAC8FE;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #322F74;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: #2f2e33;
  --vt-c-text-light-2: rgba(56, 53, 59, 0.66);
  --vt-c-text-light-3: rgba(249, 72, 20, 1);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgb(235, 235, 235);
  --vt-c-text-dark-3: rgba(249, 72, 20, 1);

  --vt-c-subtext-light-1: rgb(102, 102, 102);
  --vt-c-subtext-dark-1: rgb(192, 192, 192);
  --vt-orage-light: rgba(253, 119, 80, 1);
  --vt-purple-light: #9591FD;
}

[data-theme='light'] {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
  --color-subtext: var(--vt-c-subtext-light-1);
  --color-link: var(--vt-c-text-light-3);
}

[data-theme='dark'] {
  --color-background: var(--vt-c-black);
  --color-background-soft: var(--vt-c-black-soft);
  --color-background-mute: var(--vt-c-black-mute);

  --color-border: var(--vt-c-divider-dark-2);
  --color-border-hover: var(--vt-c-divider-dark-1);

  --color-heading: var(--vt-c-text-dark-1);
  --color-text: var(--vt-c-text-dark-2);
  --color-subtext: var(--vt-c-subtext-dark-1);
  --color-link: var(--vt-c-text-dark-3)
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
    --color-link: var(--vt-c-text-dark-3)
  }
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'Days',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
