@import './reset.css';
@import './base.css';

#app {
  width: 100%;
  padding: 6vh 10vw 0;
  font-weight: normal;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
  user-select: none;
}
