@import './reset.css';
@import './base.css';

#app {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* max-width: 1280px; */
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
}

/* @media (hover: hover) {
  a:hover {
    background-color: rgba(149, 145, 253, 0.2);
  }
} */

@media (min-width: 1024px) {
  body {
    /* display: flex; */
    /* place-items: center; */
  }

  /* #app {
    width: 100%; */
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* padding: 0 1rem; */
  /* } */
}
