@import './reset.css';
@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
  position: relative;
  color: var(--color-text);
  background: var(--color-background);
  transition: background .2s linear, color .2s linear;
  padding-bottom: 300px;
}

a {
  text-decoration: none;
}

.material-symbols-outlined {
  user-select: none;
}
